//START:membership
<system.web>
<membership defaultProvider="NHibernateMembershipProvider" > //<label id="membership"/>
<providers>
  <clear/>
  <add 
    name="NHibernateMembershipProvider" 
    type="GetOrganized.Membership.NHibernateMembershipProvider" 
    enablePasswordRetrieval="false"
    enablePasswordReset="false" />
</providers>
</membership>
<roleManager defaultProvider="NHibernateRoleProvider"  //<label id="role"/>
  <providers>
    <clear />
    <add
      name="NHibernateRoleProvider"
      type="GetOrganized.Membership.NHibernateRoleProvider"/>
  </providers>
</roleManager>
</system.web>
//END:membership
//START:logging
<system.web>
  <customErrors mode="On">
  </customErrors>
</system.web>
//END:logging
//START:logging2
<customErrors mode="On" defaultRedirect="DefaultErrorPage.html">
  <error statusCode="404" redirect="PageNotFound.html"/>
  <error statusCode="500" redirect="InternalError.html"/>
</customErrors> 
//END:logging2
//START:logging3
<customErrors mode="On" defaultRedirect="~/Error">
  <error statusCode="404" redirect="~/Error/PageNotFound"/>
  <error statusCode="500" redirect="~/Error/InternalError"/>
</customErrors> 
//END:logging3
//START:elmah
<sectionGroup name="elmah">
  <section name="security" requirePermission="false" 
    type="Elmah.SecuritySectionHandler, Elmah" />
  <section name="errorLog" requirePermission="false" 
    type="Elmah.ErrorLogSectionHandler, Elmah" />
  <section name="errorMail" requirePermission="false" 
    type="Elmah.ErrorMailSectionHandler, Elmah" />
  <section name="errorFilter" requirePermission="false" 
    type="Elmah.ErrorFilterSectionHandler, Elmah" />
</sectionGroup>

<elmah>
  <errorLog type="Elmah.XmlFileErrorLog, Elmah" //<label id="logPath"/>
    logPath="~/App_Data" />
</elmah>

<system.web>
  <httpModules>
  <add verb="POST,GET,HEAD" path="elmah.axd" //<label id="httpModule"/>
    type="Elmah.ErrorLogPageFactory, Elmah" />
  </httpModules>
</system.web>

<location path="elmah.axd">  //<label id="onlyJonathan"/>
  <system.web>  
    <authorization>  
      <deny users="jonathan" />  
    </authorization>  
  </system.web>  
</location>
//END:elmah
//START:health
<system.web>
  <healthMonitoring Enabled="true" />
</system.web>
//END:health
