<head>
<!-- omitted other scripts --> 
<link href="<%=ResolveUrl("~/Content/colorpicker.css) %>"
 rel="Stylesheet" type="text/css" />

<script type="text/javascript" 
  src="<%=ResolveUrl("~/Scripts/jquery-1.4.1.js") %>"> //<label id="add.jquery.ref"/>
</script> 
<script type="text/javascript" 
  src="<%=ResolveUrl("~/Scripts/colorpicker.js") %>">
</script>
<asp:ContentPlaceHolder ID="Head" runat="server" /> //<label id="head.placeholder"/>
</head>
